
header {
  background-color:black;
  height: 120px;
}
nav {
  padding-top: 30px;
}

li {
  float: left;
  height: 40px; 
  margin-right: 80px;
  list-style: none;
}

a {
  font-size: 35px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

table {
  width: 100%;
}

th {
  border: none;
}
th, td {
  padding: 15px;
  text-align: left;
}
*{
  font-size: 10px;
  color: aqua;
}

img{
  width: 100%;
}

h1{
  
  font-size: 35px;
  background-color: black;
}
h2{
  font-size: 20px;
}

#parentImage{
  width: 100%;
}

#gallery{
  width: 50%;
  height: 200px;
}

#index-body{
    display: block;
    background-repeat: no-repeat;
    height:160px;
    padding-left:280px;
    padding-top:50px;
    width:470px;
}
html{
   background-color:black;
}
table{
  background-color: black;
}

form{
  background-color: black;
}
font{
  background-color: black;
  
}
#Sales{
  background-image: url('https://raw.githubusercontent.com/codefellows/seattle-201d57/master/class-09/lab-b/assets/fish.jpg');
  width: 100%;
}